In [78]:
import numpy as np
import pandas as pd
import tensorflow as tf
import transformers
from sentence_transformers import SentenceTransformer
import torch
from sentence_transformers import SentenceTransformer, util
import pdb

In [2]:
df = pd.read_csv('data1.csv')
df.head(5)

,Unnamed: 0,id,name,audience_size,country,topic,name_cleaned,number_of_verb,number_words,number_letters,number_letters_words_verbs,name_entity,similarity,target_phrase,score
0,0,6003407352218,#Te Amo,38302730,NaN,NaN,Te Amo,0,2,5,"[5, 2, 0]",[],0.109091,Jeu de Paume is an excellent art gallery in Paris,5
1,1,6003195700298,(500) Days of Summer,456210,NaN,NaN,500 Days of Summer,0,4,12,"[12, 4, 0]",[],0.208955,Jeu de Paume is an excellent art gallery in Paris,5
2,2,6002964102317,1 LIVE,1333240,NaN,NaN,1 LIVE,0,2,4,"[4, 2, 0]",[],0.036364,Jeu de Paume is an excellent art gallery in Paris,5
3,3,6003305598969,1&1 Internet,1372910,NaN,NaN,11 Internet,0,2,8,"[8, 2, 0]",[],0.200000,Jeu de Paume is an excellent art gallery in Paris,5
4,4,6003311804999,1-800-Flowers,1816950,NaN,NaN,1800Flowers,0,1,7,"[7, 1, 0]",[],0.133333,Jeu de Paume is an excellent art gallery in Paris,5

In [3]:
df.similarity.describe()

count    5665.000000
mean        0.178958
std         0.072342
min         0.000000
25%         0.133333
50%         0.178571
75%         0.225806
max         0.444444
Name: similarity, dtype: float64

In [4]:
df_corpus = df[["name_cleaned", "target_phrase"]].rename(columns = \
                                    {"name_cleaned": "sentence1", "target_phrase": "sentence2"})
df_corpus

,sentence1,sentence2
0,Te Amo,Jeu de Paume is an excellent art gallery in Paris
1,500 Days of Summer,Jeu de Paume is an excellent art gallery in Paris
2,1 LIVE,Jeu de Paume is an excellent art gallery in Paris
3,11 Internet,Jeu de Paume is an excellent art gallery in Paris
4,1800Flowers,Jeu de Paume is an excellent art gallery in Paris
...,...,...
5660,엔제리너스커피Angelinus Coffee,Jeu de Paume is an excellent art gallery in Paris
5661,오늘 뭐 먹지,Jeu de Paume is an excellent art gallery in Paris
5662,인천공항 incheon airport,Jeu de Paume is an excellent art gallery in Paris
5663,케이투 아웃도어 K2 OUTDOOR,Jeu de Paume is an excellent art gallery in Paris
5664,～One Piece～海贼王～,Jeu de Paume is an excellent art gallery in Paris

In [81]:
from sentence_transformers import SentenceTransformer, util
model = SentenceTransformer('multi-qa-MiniLM-L6-cos-v1')

query_embedding = model.encode('How big is London')
passage_embedding = model.encode(['London has 9,787,426 inhabitants at the 2011 census',
                                  'London is known for its finacial district'])

print("Similarity:", util.dot_score(query_embedding, passage_embedding))

Downloading: 100%|██████████| 737/737 [00:00<00:00, 245kB/s]
Downloading: 100%|██████████| 190/190 [00:00<?, ?B/s]
Downloading: 100%|██████████| 11.5k/11.5k [00:00<00:00, 1.26MB/s]
Downloading: 100%|██████████| 612/612 [00:00<00:00, 102kB/s]
Downloading: 100%|██████████| 116/116 [00:00<00:00, 6.06kB/s]
Downloading: 100%|██████████| 25.5k/25.5k [00:00<00:00, 193kB/s]
Downloading: 100%|██████████| 90.9M/90.9M [00:16<00:00, 5.47MB/s]
Downloading: 100%|██████████| 53.0/53.0 [00:00<00:00, 3.44kB/s]
Downloading: 100%|██████████| 112/112 [00:00<00:00, 7.25kB/s]
Downloading: 100%|██████████| 466k/466k [00:00<00:00, 735kB/s]
Downloading: 100%|██████████| 383/383 [00:00<?, ?B/s]
Downloading: 100%|██████████| 13.8k/13.8k [00:00<00:00, 3.46MB/s]
Downloading: 100%|██████████| 232k/232k [00:00<00:00, 615kB/s]
Downloading: 100%|██████████| 349/349 [00:00<00:00, 26.7kB/s]

Similarity: tensor([[0.5472, 0.6330]])

In [5]:
model = SentenceTransformer('bert-base-nli-mean-tokens')

In [80]:
df_corpus.to_csv('data_embedding.csv')

In [6]:
df_corpus["sentence_numeric1"] = df_corpus["sentence1"].apply(lambda row: model.encode(row))
df_corpus["sentence_numeric2"] = df_corpus["sentence2"].apply(lambda row: model.encode(row))

df_corpus

,sentence1,sentence2,sentence_numeric1,sentence_numeric2
0,Te Amo,Jeu de Paume is an excellent art gallery in Paris,"[-0.0030569644, 0.104952775, 1.7642806, -0.062...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
1,500 Days of Summer,Jeu de Paume is an excellent art gallery in Paris,"[0.009500278, -0.14037506, 0.08560636, 0.47044...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
2,1 LIVE,Jeu de Paume is an excellent art gallery in Paris,"[0.31508493, -0.710197, 1.159363, 0.62204957, ...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
3,11 Internet,Jeu de Paume is an excellent art gallery in Paris,"[-0.054446787, 0.22768022, 0.37583578, 0.38688...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
4,1800Flowers,Jeu de Paume is an excellent art gallery in Paris,"[-0.61273646, 0.030491184, 0.18768832, 0.47854...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
...,...,...,...,...
5660,엔제리너스커피Angelinus Coffee,Jeu de Paume is an excellent art gallery in Paris,"[-0.71049815, 0.21960245, 0.3240989, 0.0907491...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
5661,오늘 뭐 먹지,Jeu de Paume is an excellent art gallery in Paris,"[-0.56388664, -0.046058953, 1.2942032, -0.1246...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
5662,인천공항 incheon airport,Jeu de Paume is an excellent art gallery in Paris,"[-0.93814987, -0.2293442, 0.6312467, -0.026750...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
5663,케이투 아웃도어 K2 OUTDOOR,Jeu de Paume is an excellent art gallery in Paris,"[-0.20109333, -0.530353, 0.79261255, 0.2205797...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."
5664,～One Piece～海贼王～,Jeu de Paume is an excellent art gallery in Paris,"[-0.4240435, 0.14723001, 1.4485528, 0.39850464...","[0.1427047, -0.19053812, 0.4135836, 0.31591114..."

In [47]:
df_corpus["sentence_numeric1"][0].shape

(768,)

In [73]:
def cos_sim_tuned(row) -> float:
    result = util.cos_sim(row.sentence_numeric1, row.sentence_numeric2).numpy()
    return result[0][0]

In [75]:
df_corpus["cos_similiraty"] = df_corpus.apply(lambda row: cos_sim_tuned(row), axis = 1)
df_corpus

,sentence1,sentence2,sentence_numeric1,sentence_numeric2,cos_similiraty
0,Te Amo,Jeu de Paume is an excellent art gallery in Paris,"[-0.0030569644, 0.104952775, 1.7642806, -0.062...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.265948
1,500 Days of Summer,Jeu de Paume is an excellent art gallery in Paris,"[0.009500278, -0.14037506, 0.08560636, 0.47044...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.321515
2,1 LIVE,Jeu de Paume is an excellent art gallery in Paris,"[0.31508493, -0.710197, 1.159363, 0.62204957, ...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.252658
3,11 Internet,Jeu de Paume is an excellent art gallery in Paris,"[-0.054446787, 0.22768022, 0.37583578, 0.38688...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.164287
4,1800Flowers,Jeu de Paume is an excellent art gallery in Paris,"[-0.61273646, 0.030491184, 0.18768832, 0.47854...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.289580
...,...,...,...,...,...
5660,엔제리너스커피Angelinus Coffee,Jeu de Paume is an excellent art gallery in Paris,"[-0.71049815, 0.21960245, 0.3240989, 0.0907491...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.211035
5661,오늘 뭐 먹지,Jeu de Paume is an excellent art gallery in Paris,"[-0.56388664, -0.046058953, 1.2942032, -0.1246...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.249070
5662,인천공항 incheon airport,Jeu de Paume is an excellent art gallery in Paris,"[-0.93814987, -0.2293442, 0.6312467, -0.026750...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.273487
5663,케이투 아웃도어 K2 OUTDOOR,Jeu de Paume is an excellent art gallery in Paris,"[-0.20109333, -0.530353, 0.79261255, 0.2205797...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.294901
5664,～One Piece～海贼王～,Jeu de Paume is an excellent art gallery in Paris,"[-0.4240435, 0.14723001, 1.4485528, 0.39850464...","[0.1427047, -0.19053812, 0.4135836, 0.31591114...",0.367344

In [76]:
df_corpus.cos_similiraty.describe()

count    5665.000000
mean        0.268350
std         0.067936
min        -0.003482
25%         0.229344
50%         0.269096
75%         0.307838
max         0.644267
Name: cos_similiraty, dtype: float64

In [77]:
df.similarity.describe()

count    5665.000000
mean        0.178958
std         0.072342
min         0.000000
25%         0.133333
50%         0.178571
75%         0.225806
max         0.444444
Name: similarity, dtype: float64

In [ ]:
df_corpus[]